<%= render 'layouts/header' %>
    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-600 bg-img background-overlay" style="background-image: url(<%= asset_path 'bg2.jpg' %>);">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="single-blog-title text-center">
                        <!-- Catagory -->
                        <div class="post-cta"><%#= link_to Category.find(@post.category_id).name, category_path(@post.category_id) %></div>
                        <h3><%#= @post.title %></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area">

        <!-- Hero Slides Area -->
        <!--<div class="hero-slides owl-carousel">-->
            <!-- Single Slide -->
        <!--    <div class="single-hero-slide bg-img background-overlay" style="background-image: url(img/blog-img/bg2.jpg);"></div>-->
            <!-- Single Slide -->
        <!--    <div class="single-hero-slide bg-img background-overlay" style="background-image: url(img/blog-img/bg1.jpg);"></div>-->
        <!--</div>-->

        <!-- Hero Post Slide -->
        <div class="hero-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-post-slide">
                            <% @posts.limit(4).each do |post| %>
                            <!-- Single Slide -->
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-number">
                                    <p>-</p>
                                </div>
                                <div class="post-title">
                                    <%= link_to post.title, post %>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area Start ============= -->
                <div class="col-12 col-lg-8">
                    <div class="post-content-area mb-50">
                        <!-- Catagory Area -->
                        <div class="world-catagory-area">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="title">Don’t Miss</li>

                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab" aria-controls="world-tab-1" aria-selected="true">All</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab" aria-controls="world-tab-2" aria-selected="false">Style hunter</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab3" data-toggle="tab" href="#world-tab-3" role="tab" aria-controls="world-tab-3" aria-selected="false">Vogue</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab4" data-toggle="tab" href="#world-tab-4" role="tab" aria-controls="world-tab-4" aria-selected="false">Health &amp; Fitness</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab5" data-toggle="tab" href="#world-tab-5" role="tab" aria-controls="world-tab-5" aria-selected="false">Travel</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab6" data-toggle="tab" href="#world-tab-6" role="tab" aria-controls="world-tab-6" aria-selected="false">Gadgets</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="tab6" data-toggle="tab" href="#world-tab-7" role="tab" aria-controls="world-tab-7" aria-selected="false">Event</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <div class="row">
                                        <!--<div class="col-12 col-md-6">-->
                                            <!-- Single Blog Post -->
                                        <!--    <%# @posts.limit(1).each do |post| %>-->
                                        <!--    <div class="single-blog-post">-->
                                                <!-- Post Thumbnail -->
                                        <!--        <div class="post-thumbnail">-->
                                        <!--            <%#= image_tag "b1.jpg" %>-->
                                        <!--        </div>-->
                                                <!-- Post Content -->
                                        <!--        <div class="post-content">-->
                                        <!--            <a href="#" class="headline">-->
                                        <!--                <h5><%#= link_to post.title, post %></h5>-->
                                        <!--            </a>-->
                                        <!--            <p><%#= truncate(post.body, length: 90) %></p>-->
                                                    <!-- Post Meta -->
                                        <!--            <div class="post-meta">-->
                                        <!--                <p><%#= time_ago_in_words(post.created_at) %> ago</p>-->
                                        <!--            </div>-->
                                        <!--        </div>-->
                                        <!--    </div>-->
                                        <!--    <%# end %>-->
                                        <!--</div>-->
                                        <!--<div class="col-12 col-md-6">-->
                                            <!--<div class="world-catagory-slider owl-carousel wow fadeInUpBig" data-wow-delay="0.1s">-->

                                                <!-- Single Blog Post -->
                                                <!--<div class="single-blog-post">-->
                                                    <!-- Post Thumbnail -->
                                                <!--    <div class="post-thumbnail">-->
                                                <!--        <img src="img/blog-img/b1.jpg" alt="">-->
                                                        <!-- Catagory -->
                                                <!--        <div class="post-cta"><a href="#">travel</a></div>-->
                                                <!--    </div>-->
                                                    <!-- Post Content -->
                                                <!--    <div class="post-content">-->
                                                <!--        <a href="#" class="headline">-->
                                                <!--            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>-->
                                                <!--        </a>-->
                                                <!--        <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>-->
                                                        <!-- Post Meta -->
                                                <!--        <div class="post-meta">-->
                                                <!--            <p><a href="#" class="post-author">Kjbjbaty Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>-->
                                                <!--        </div>-->
                                                <!--    </div>-->
                                                <!--</div>-->

                                                <!-- Single Blog Post -->
                                                <!--<div class="single-blog-post">-->
                                                    <!-- Post Thumbnail -->
                                                <!--    <div class="post-thumbnail">-->
                                                <!--        <img src="img/blog-img/b2.jpg" alt="">-->
                                                        <!-- Catagory -->
                                                <!--        <div class="post-cta"><a href="#">travel</a></div>-->
                                                <!--    </div>-->
                                                    <!-- Post Content -->
                                                <!--    <div class="post-content">-->
                                                <!--        <a href="#" class="headline">-->
                                                <!--            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>-->
                                                <!--        </a>-->
                                                <!--        <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>-->
                                                        <!-- Post Meta -->
                                                <!--        <div class="post-meta">-->
                                                <!--            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>-->
                                                <!--        </div>-->
                                                <!--    </div>-->
                                                <!--</div>-->

                                                <!-- Single Blog Post -->
                                                <!--<div class="single-blog-post">-->
                                                    <!-- Post Thumbnail -->
                                                <!--    <div class="post-thumbnail">-->
                                                <!--        <img src="img/blog-img/b3.jpg" alt="">-->
                                                        <!-- Catagory -->
                                                <!--        <div class="post-cta"><a href="#">travel</a></div>-->
                                                <!--    </div>-->
                                                    <!-- Post Content -->
                                                <!--    <div class="post-content">-->
                                                <!--        <a href="#" class="headline">-->
                                                <!--            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>-->
                                                <!--        </a>-->
                                                <!--        <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>-->
                                                        <!-- Post Meta -->
                                                <!--        <div class="post-meta">-->
                                                <!--            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>-->
                                                <!--        </div>-->
                                                <!--    </div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="col-12 col-md-6">
                                            <% @posts.limit(5).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                                                <!-- Post Thumbnail -->
                                                <!--<div class="post-thumbnail">-->
                                                    <%#= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                <!--</div>-->
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><td><%=link_to post.title, post %></td></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                        

                                        <div class="col-12 col-md-6">
                                            <% @posts.limit(5).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                                                <!-- Post Thumbnail -->
                                                <!--<div class="post-thumbnail">-->
                                                    <%#= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                <!--</div>-->
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><td><%=link_to post.title, post %></td></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!-- Single Blog Post -->
                                            <% @posts.limit(1).each do |post| %>
                                            <div class="single-blog-post">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b1.jpg" %>
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= link_to post.title, post %></h5>
                                                    </a>
                                                    <p><%= truncate(post.body, length: 90) %></p>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <% Post.where(category_id: 1).each do |post| %>
                                            <%# @posts.limit(4).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= post.title %></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!-- Single Blog Post -->
                                            <% @posts.limit(1).each do |post| %>
                                            <div class="single-blog-post">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b1.jpg" %>
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= link_to post.title, post %></h5>
                                                    </a>
                                                    <p><%= truncate(post.body, length: 90) %></p>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <% Post.where(category_id: 2).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><h5><%= post.title %></h5></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-4" role="tabpanel" aria-labelledby="tab4">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!-- Single Blog Post -->
                                            <% @posts.limit(1).each do |post| %>
                                            <div class="single-blog-post">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b1.jpg" %>
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= link_to post.title, post %></h5>
                                                    </a>
                                                    <p><%= truncate(post.body, length: 90) %></p>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <% Post.where(category_id: 3).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><td><%= post.title %></td></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-5" role="tabpanel" aria-labelledby="tab5">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!-- Single Blog Post -->
                                            <% @posts.limit(1).each do |post| %>
                                            <div class="single-blog-post">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b1.jpg" %>
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= link_to post.title, post %></h5>
                                                    </a>
                                                    <p><%= truncate(post.body, length: 90) %></p>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <% Post.where(category_id: 4).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= post.title %></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-6" role="tabpanel" aria-labelledby="tab6">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!-- Single Blog Post -->
                                            <% @posts.limit(1).each do |post| %>
                                            <div class="single-blog-post">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b1.jpg" %>
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= link_to post.title, post %></h5>
                                                    </a>
                                                    <p><%= truncate(post.body, length: 90) %></p>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <% Post.where(category_id: 5).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= post.title %></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="world-tab-7" role="tabpanel" aria-labelledby="tab6">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!-- Single Blog Post -->
                                            <% @posts.limit(1).each do |post| %>
                                            <div class="single-blog-post">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b1.jpg" %>
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= link_to post.title, post %></h5>
                                                    </a>
                                                    <p><%= truncate(post.body, length: 90) %></p>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <% Post.where(category_id: 6).each do |post| %>
                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post post-style-2 d-flex align-items-center">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                    <%= image_tag "b18.jpg" %>
                                                    <!--<img src="img/blog-img/b10.jpg" alt="">-->
                                                </div>
                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <a href="#" class="headline">
                                                        <h5><%= post.title %></h5>
                                                    </a>
                                                    <!-- Post Meta -->
                                                    <div class="post-meta">
                                                        <p><%= time_ago_in_words(post.created_at) %> ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%= render 'layouts/rightside' %>
                
            </div>

            
            <%= render 'layouts/articles' %>

            <div class="world-latest-articles">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="title">
                            <h5>Latest Articles</h5>
                        </div>

                        <!-- Single Blog Post -->
                        <% @articles.limit(3).each do |article| %>
                        <div class="single-blog-post post-style-4 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <%= image_tag "b18.jpg"%>
                                <!--<img src="img/blog-img/b18.jpg" alt="">-->
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="headline">
                                    <h5><%= link_to article.title, article %></h5>
                                </a>
                                <p><%= truncate(article.body, length: 145) %></p>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <p><%= article.author%> on <%= time_ago_in_words(article.created_at) %> ago</p>
                                </div>
                            </div>
                        </div>
                        <% end %>
                </div>
            </div>

            <!-- Load More btn -->
            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn mt-50 text-center">
                        <%= link_to "Load More", articles_path, class: "btn world-btn" %>
                        <!--<a href="#" class="btn world-btn">Load More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%= render 'layouts/footer' %>