    <%= render 'layouts/header' %>

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-600 bg-img background-overlay" style="background-image: url(<%= asset_path 'bg2.jpg' %>);">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="single-blog-title text-center">
                        <!-- Catagory -->
                        <div class="post-cta"><%= link_to Category.find(@post.category_id).name, category_path(@post.category_id) %></div>
                        <h3><%= @post.title %></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-content mb-100">
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><%= time_ago_in_words(@post.created_at) %> ago</p>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <%= @post.body %>
                            <!-- Post Tags -->
                            <!--<ul class="post-tags">-->
                            <!--    <li><a href="#">Manual</a></li>-->
                            <!--    <li><a href="#">Liberty</a></li>-->
                            <!--    <li><a href="#">Recommendations</a></li>-->
                            <!--    <li><a href="#">Interpritation</a></li>-->
                            <!--</ul>-->
                            <!-- Post Meta -->
                            <div class="post-meta second-part">
                                <p><%= time_ago_in_words(@post.created_at) %> ago</p>
                            </div>
                        </div>
                    </div>
                </div>

                <%= render 'layouts/rightside' %>
                
            </div>

            <!-- ============== Related Post ============== -->
            <%#= render 'layouts/articles' %>
            
        </div>
    </div>
    
    <%= render 'layouts/footer' %>










<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @post.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Body:</strong>-->
  <%#= @post.body %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Category:</strong>-->
  <%#= @post.category_id %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Image:</strong>-->
  <%#= @post.image.url if @post.image? %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Order:</strong>-->
  <%#= @post.order %>
<!--</p>-->

<%#= link_to 'Edit', edit_post_path(@post) %> |
<%#= link_to 'Back', posts_path %>
